#logo {
    width: 80%;
    margin-bottom: 2%;
    border-radius: 10px;
    padding-bottom: 1%;
}

#caixaLogin {
    background: #ff8c00;
    border: 1px solid #FF6600;
    border-radius: 10px;
    width: 70%;
    float: right;

}
/* Set a style for all buttons */
#botaoLogin {
  background-color: #a52a2a;
  color: white;
  padding: 5%; 
  border: none;
  cursor: pointer;
  width: 100%;
}

#botaoLogin:hover {
  opacity: 0.8;
}

.btnSubmit {
    width: 50%;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

#menu {
   
    background: #a52a2a;
    margin-right: 0px;
}

#itemMenu {
    text-align: center;
    border-left: 0.1px solid #660000;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-top: 2%;
    color: white;
    text-decoration: none;
}

#itemMenu:hover {
    background-color: red;
}

#buscar {
    border: none;
    background-color: #b22222;
    color: white;
    border-radius: 0px 5px 5px 0px;
}

#buscar:hover {
    background-color: red;
}

#fundoCarousel{
    
    padding-top: 3%;
    padding-bottom: 5%;
    border-radius: 10px; 
    margin-top: 2%; 
    width: 80%;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.imgCarousel {
    width: 60%;
    margin-left: 20%;
    margin-top: 3%; 
    border-radius: 10px;
}


.recentes {
    border: 1px solid #282828;
}

.imgRecentes {
    width: 100%;
    height: 50%;
    border-bottom: 1px solid #282828;
    margin-bottom: 5%;
}

.textoMaisRecentes {
    margin-left: 2%;
}

.caixaDeInputs{
    width: 70%;
    border: 1px solid;
    margin-left: 15%;
    padding-left: 10%;
    padding-top: 5%; 
    padding-bottom: 5%;
    background-color: white;
    border-radius: 10px;
}

#caixaDeInputsCadProd{
    margin-left: 9%;
    margin-top: 3%;
    width: 80%;
    padding-left: 15%;
}

.cadastrarProdutoInput {
    width: 10%;
}

#textSuporte{
  width: 100%;
  height: 200%;
}

.imgrdp {
    border: 2px solid black;
}

.rodapeback {
    position: absolute;
    width: 100%;
    margin-top: 10%;
    padding-bottom: 2%;
    padding-top: 2%;
    border-radius: 5px;
    background-color: #a52a2a;
    color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#inputsLogin{
  margin-top: 0.005%;
  border-radius: 5px;
  padding: 5%;
  width: 93%;
}

#botaoEntrarLogin{
  width: 93%;
  background-color: #4CAF50;
  border-radius: 10px;
  padding: 2%;
}

.containerLogin {
  padding: 7%;
}

.modal {
  display: none; /* Escondido por padrão */
  position: fixed; 
  z-index: 1; /* Sente-se no topo */
  width: 100%; 
  height: 100%; 
  overflow: auto; /* Ative a rolagem, se necessário */
  background-color: rgb(0,0,0); /* Cor de retorno */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 5%;
}

/* Modal Content/Box */
.modal-content {
  background-color: #F0F0F0 ;
  margin: 2% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  border-radius: 10px;
  width: 40%; /* Could be more or less, depending on screen size */
  height: 70%;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 2%;
  top: 0;
  color: #000;
  font-size: 200%;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}


@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */


